
.headerContainer{
    
    background-color: transparent;
    color: white;
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
  
   
}
.navContainer{
    display: flex;
    gap: 30px;
    align-items: center;
    
}
.ulContainer{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    li{
        transition: 1s;
        border-bottom: 2px solid transparent;
        padding-bottom: 4px;
    }
    a{
    color: white;
    text-decoration: none;
    }
    li:hover{
        color:#FF9500 ;
        border-bottom: 2px solid #FF9500;
        padding-bottom: 4px;
    }
   
 
}
   
    .registerButton:hover{
        background-color: #b36901;
        
        cursor: pointer;
    }


.logo{
    width: 100px;
}
.registerButton{
    background-color: #FF9500;
    padding: 6px;
    padding-inline: 8px;
    font-weight:700;
    border: none;
    border-radius: 25px;
}
.inputSearch{
    background-color: transparent;
    border-radius: 35px;
    border: 2px solid white;
    padding: 6px;
    display: flex;
    align-items: center;
    color: #ffffff82;
    gap: 10px;
    width: 25%;
    i{
        margin-left: 20px;
    }
}
.fa-bars{
    display: none;
}
.miniHeader{
 
    max-width: 1100px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.mobile-nav{
    position: absolute;
    right: 10px;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: none;
    a{
        color: black;
        text-decoration: none;
    }
    li{
        margin-bottom: 5px;
        font-size: 13px;
        list-style:none;
    }
}
.fa-magnifying-glass{
    display: none;

}

@media screen and (max-width:884px) {
    .miniHeader{
 
    max-width: none;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
    .headerContainer{
        justify-content: space-between;
    }
  .ulContainer{
    display: none;
  }
    .inputSearch{
        display: none;
    }
    .registerButton{
        position: absolute;
        right: 150px;
        top: 10px;
    }
    .fa-bars{
        display: block;
        font-size: 30px;
        margin-right: 30px;
    }
    .fa-magnifying-glass{
        display: block;
        font-size: 25px;
        margin-left: 600px;
    }
}

@media screen and (max-width:440px) {
    .headerContainer{
        width: 100%;
    }
     .fa-bars{
        display: block;
        font-size: 20px;
        color: white;

    }
    .registerButton{
        display: none;
    }
    .fa-magnifying-glass{
        display: block;
        font-size: 20px;
        color: white;
       margin-left: 130px;
    }
    
}
